{% extends "base.html" %} <!-- Substitua por seu template base, se aplicável -->
{% load static %}
{% block content %}
    <div class="container">
    <h2>Cadastrar Nota Fiscal</h2>
    <div class="form-row">
    <form   method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Renderiza o formulário aqui -->
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>
</div>
<script src="{% static 'jquery/jquery.mask.min' %}"></script>
<script src="{% static 'jquery/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'jquery/mascara.js' %}"></script>
{% endblock %}
