
{% extends "base.html" %}

{% block title %}Página Específica - Solus-Kronos{% endblock %}

{% block content %}

<body>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <div class="container d-flex flex-column align-items-center" style="padding-top: 20px;">
        <div class="dropdown mb-3"> 
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                <b>Listar Dashboards</b> 
            </button>
            <div class="dropdown-menu">
                {% for dashboard in dashboards %}
                    <a class="dropdown-item" href="#" onclick="updateIframe('{{ dashboard.link }}')">{{ dashboard.nome }}</a>
                {% endfor %}
            </div>
        </div>
        <!-- Iframe onde o dashboard será exibido -->
        <iframe id="dashboardIframe" src="" style="width:1800px; height:800px;" frameborder="0"></iframe>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <!-- JavaScript para atualizar o iframe -->
    <script>
        function updateIframe(link) {
            document.getElementById('dashboardIframe').src = link;
        }
    </script>
</body>

{% endblock %}
