{% extends "base.html" %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.css" rel="stylesheet" />
{% block title %}Página Específica - Solus-Kronos{% endblock %}

{% block content %}

<div class="container-fluid" style="padding-top:20px">
    <iframe title="Portal XML 2.0" width="2100" height="960" src="https://app.powerbi.com/view?r=eyJrIjoiZmZkOTBkZjYtZGRlNC00OTNlLTkyNzMtMTQ5ZTQ5MmQxNjFhIiwidCI6Ijc3MzI3NTRlLWMwNjktNDU3Ni1iYjliLTk2ZDI4ZTViYTM4OSJ9" frameborder="0" allowFullScreen="true"></iframe>
</div>
{% endblock %}