<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.css" rel="stylesheet" />
    <script type="text/javascript">scr=".lib/modal.js"</script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sollus Kronos</title>
    
    <style type="text/css">
    .borde-color{
     color:#374c70; 
    }
    </style>

    </head>

    

<body>
    <div class="hero is-fullheight">
        <div class="hero-body is-justify-content-center is-align-items-center">
            <div class="columns is-flex is-flex-direction-column box">
                <figure class="image is-5by2">
                    
                    <img src="{% static 'img/logo-sollus-color-blue2.png' %}">
                </figure>
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="column">
                        <label for="username">Usuario</label>
                        <input class="input" style="border-color: #374c70" type="text" name="username" placeholder="Insira seu usuario">
                    </div>
                    <div class="column">
                        <label for="password">Senha</label>
                        <input class="input" style="border-color: #374c70" type="password" name="password" placeholder="Senha">
                        
                    </div>
                    <div class="column">
                        <button class="button is-fullwidth" style="background-color: #374c70; color:#fff"  type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>